/* Container for property details */
.property-details-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  width: 100%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.507); 
  margin: 5rem auto 5rem;
}

.property-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.property-image {
  width: 500px;
  align-items: center;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.property-image {
  width: 100%;
  height: 100px; /* Maintain aspect ratio */
  max-height: 500px; /* Adjust the max-height as needed */
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
}

/* Heading styling */
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Paragraph styling */
p {
  font-size: 18px;
  margin: 5px 0;
}

/* Bold text styling */
strong {
  font-weight: bold;
}

/* Button group alignment */
.button-group {
  display: flex;
  gap: 10px; /* Adds space between buttons */
  justify-content: flex-start; /* Align buttons to the left */
  margin-top: 20px;
}

/* Common button styling */
.buy-button,
.interested-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Buy button styling */
.buy-button {
  background-color: #28a745; /* Green color for Buy */
  color: white;
}

/* Interested button styling */
.interested-button {
  background-color: #007bff; /* Blue color for Interested */
  color: white;
}

/* Button hover effect */
.buy-button:hover,
.interested-button:hover {
  opacity: 0.9;
}

/* Styling for the contact prompt */
.message-prompt, .contact-prompt {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.message-input, .contact-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-submit-button, .contact-submit-button,
.message-close-button,.contact-close-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.contact-submit-button, .message-submit-button {
  background-color: #28a745; /* Green color for Submit */
  color: white;
}

.contact-close-button, .message-close-button {
  background-color: #dc3545; /* Red color for Close */
  color: white;
}

.contact-submit-button:hover, .message-submit-button:hover
.contact-close-button:hover, .message-close-button:hover {
  opacity: 0.9;
}
